@font-face {
  font-family: 'carefree';
  src: url('../fonts/carefree.ttf') format('truetype');
  font-weight: normal;
}



/*@include font-face(carefree, ../fonts/Samplino);*/

$title-font: 'carefree';

$my_grey: rgb(80,80,80);

.carefree-font{
	font-family: $title-font;
	font-size:40px;
	line-height: 40px;	
}
#title {
	font-size:140px;	
	font-family: $title-font;
	line-height: 120px;
}

#desc {
	font-size:23px;
	margin-top:15px;
}

#index_content h5 {
 color: $my_grey;
}
